{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

        tbody {
            width:100%;
        }

        table {
            border: 1px solid #ddd;
        }

        tr {
            width:100%;
        }

        td, th {
            width : 25%;
            padding: 8px;
            text-align: left;
            
        }   

        .phone {
            /*width:100%;*/
        }

        .split-line {
            width:100%; 
        }

        tr:nth-child(even) {
          background-color: white;
        }


        .modal {
          display: none;
          position: fixed; 
          z-index: 1; 
          padding-top: 100px; 
          left: 0;
          top: 0;
          width: 100%; 
          height: 100%; 
          overflow: auto; 
          background-color: rgb(0,0,0); 
          background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 50%;
          height: 100px;
        }

        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        .display-name {
            color: #2a70d0;
            text-decoration: underline;
            cursor: pointer;
        }

        .location {
            font-size: 28px;
            text-align: center;
        }

        .dot {
          height: 25px;
          width: 25px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
        }

        .Carbon {
            background-color: #625D5D !important;
        }

        .Silver {
            background-color: #C0C0C0 !important;
        }

    </style>

    

{% endblock %}

{% block body %}

    <script>
        


        var span = document.getElementsByClassName("close")[0];


        var openModal = function(text) {
            document.getElementById("location_text").textContent = text;
            var modal = document.getElementById('location_popup');
            modal.style.display = "block";
        }

        var closeModal = function() {
            var modal = document.getElementById('location_popup');
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            var modal = document.getElementById('location_popup');
              if (event.target == modal) {
                modal.style.display = "none";
              }
        }
    </script>


    <div id="container" class="container recent-users">
        <div id="dashboard-top-spacer">&nbsp;</div>

        <div class="row">
            <div class="col-md-8">
                
                <!-- {{recent_users['data']}} -->
                <table style="width:100%">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Tier
                        </th>
                        <th>
                            Points
                        </th>
                        <th>
                            Phone Number
                        </th>
                    </tr>
                    {% for user in recent_users['data'] %}
                        <tr>
                            <td>
                                <span id="display_name_id" class="display-name" onclick="openModal('{{user['location']}}')">{{user['display_name']}}</span>
                                <div id="location_popup" class="modal">

                                  <div class="modal-content">
                                    <span class="close" onclick="closeModal()">&times;</span>
                                    <p id="location_text" class="location">value</p>
                                  </div>

                                </div>
                            </td>
                            <td>
                                {{user['tier']}}
                                <span class="dot {{user['tier']}}"></span>
                            </td>
                            <td>
                                {{user['point_balance']}}
                            </td>
                            <td class="phone">
                                {% for phone in user['phone'].split(',') %}
                                    <span class="split-line">{{phone}}</span><br>
                                {% endfor %}
                                
                            </td>
                        </tr>
                        
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

    

{% endblock %}
